/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
  
  }
  
  article {
  
  }
  
  h1 {
  
  }
  
  h2 {
  
  }
  
  img {
      max-width: 100%;
  }
  
  main {
  
  }
  
  section {
  
  }
  
  figure {
      margin: 0;
  }
  
  figcaption {
    font-size: .8em;
  }

  @media screen and (min-width: 320px) and (max-width: 414px){
      article {
          font-size: 24px;
      } 
      header h1 {
        font-size: 24px;
        }
      section picture {
          display: flex;
          justify-content: space-evenly;
      }
      body {
          margin: 10%;
      }
  }

  @media screen and (min-width: 415px) and (max-width: 767px){
    article {
        font-size: 24px;
    } 
    header h1 {
      font-size: 24px;
      }
    section picture {
        display: flex;
        justify-content: space-evenly;
    }
    body {
        margin: 10%;
    }
}