<<<<<<< HEAD
=======
* {
    }
    .trybe_link{
      color: seagreen;
    }
    .thumbnail{
        display: none;
    }
    .cabecalho{
        
    }
    body{
      background-image: url("imagens/background_texture.png");
      background-color: black;
      color: rgb(255, 230, 0);
      font-family: 'Shippori Antique', sans-serif;;
      text-align:center;
    }
>>>>>>> 0e92e80eabac3325651c29d631a6160cebfa4fd7

.trybe_link{
  color: seagreen;
    }
.title{
  text-align: center;
}
.presentation{
  text-align:center;

}
.corpse{
  color: rgb(255, 230, 0);
  text-align:center;
}

.fotoApresentacao{
  border-radius: 100%;
}
.footer{

  color: rgb(255, 230, 0);
  text-align:center;
  
}
body{
  font-family: 'Shippori Antique', sans-serif;
  background-image: url(imagens/background_texture.png) ;
}
    li, p{
      color: orangered;
      font-weight: 700;
    }

    a{
      color: firebrick;
      line-height: 25px;
    }

    h1, h2, h3{
      color: gold;
      font-weight: 300;
    }

    h3{
      font-size: 20 px;
      font-weight: 600;
    }

    span{
      color:orangered;
      font-style: italic;
      font-weight: 600;
    }

