body{
  font-family: 'Shippori Antique', sans-serif;
  background-image: url(imagens/background_texture.png) ;
}
    li, p{
      color: orangered;
      font-weight: 700;
    }

    a{
      color: firebrick;
      line-height: 25px;
    }

    h1, h2, h3{
      color: gold;
      font-weight: 300;
    }

    h3{
      font-size: 20 px;
      font-weight: 600;
    }

    span{
      color:orangered;
      font-style: italic;
      font-weight: 600;
    }

    header{
      text-align: center;
    }
    
    .trybe_link{
      color: seagreen;
        }
    
    .presentation{
      text-align:center;
    
    }
    .skills{
      color: rgb(255, 230, 0);
      text-align:center;
    }
    .prof_net{
      color: rgb(255, 230, 0);
      text-align:center;
    
    }
    .fotoApresentacao{
      border-radius: 100%;
    }

footer{
  color: rgb(255, 230, 0);
  text-align:center;
}