* {
    }
    .trybe_link{
      color: seagreen;
    }
    .thumbnail{
        display: none;
    }
    .cabecalho{
        
    }
    body{
      background-image: url("imagens/background_texture.png");
      background-color: black;
      color: rgb(255, 230, 0);
      font-family: 'Shippori Antique', sans-serif;;
      text-align:center;
    }

    .skills{
    color: orangered;
    line-height: 25px;
    }
    
    .fotoApresentacao{
        border-radius: 100%;
    }
    li, p{
      color: orangered;
      font-weight: 700;
    }

    a{
      color: firebrick;
      line-height: 25px;
    }

    h1, h2, h3{
      color: gold;
      font-weight: 300;
    }

    h3{
      font-size: 20 px;
      font-weight: 600;
    }

    span{
      color:orangered;
      font-style: italic;
      font-weight: 600;
    }

